<div>
  <%= link_to "New Pin", new_pin_path %>
</div>

<div id="pin-container">
  <% @pins.each do |pin| %>
    <div class="pin">
      <%= link_to pin.title, pin_path(pin)%>
      <%= image_tag pin.image_url %>
    </div>
  <% end %>
</div>
