<%= link_to "New Pin", new_user_pin_path(@user), id: "new-pin" %>

<div id="pin-container">
  <% @pins.each do |pin| %>
    <div class="pin">
      <%= link_to image_tag( pin.image_url ), edit_user_pin_path(@user, pin) %>
      <%= link_to pin.title, user_pin_path(@user, pin), class: "pin-title" %>
    </div>
  <% end %>
</div>
