<div id="board-container">
  <% @boards.each do |board| %>
    <div class="board">
      <div class="board-photo"></div>
      <%= link_to board.title, user_board_path(@user, board), class: "board-title" %>
    </div>
  <% end %>
</div>
