<%= link_to "New Pin", new_user_board_pin_path(@user, @board), id: "new-pin" %>

<div id="board-container">
  <% @board.pins.each do |pin| %>
    <div class="board">
      <%= link_to image_tag( pin.image_url ), pin_path(pin) %>
      <%= link_to pin.title, pin_path(pin), class: "board-title" %>
    </div>
  <% end %>
</div>

<%= link_to "Edit Board", edit_user_board_path(@user, @board) %>
