/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/*****************
CORE STYLES
*****************/

body {
  background-color: #efefef;
  /*padding-top: 30px;*/
  margin: 65px 100px 0 70px;
}

a {
  text-decoration: none;
  color: black;
}



/*****************
NAV
*****************/

nav {
  border-top: 1px solid #4d4d4d;
  padding-top: 20px;
}

#logo {
  font-size: 45px;
  font-family: 'Dancing Script', cursive;
}

#new-pin {
  padding: 10px;
  background-color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  color: white;
  text-transform: uppercase;
}

#new-pin:hover {
  background-color: #7d7d7d;
}

#login {
  padding: 10px;
  background-color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  color: white;
  text-transform: uppercase;
}

#login:hover {
  background-color: #7d7d7d;
}

#signout {
  padding: 10px;
  background-color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  color: white;
  text-transform: uppercase;
}

#signout:hover {
  background-color: #7d7d7d;
}

#signup {
  padding: 10px;
  background-color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  color: white;
  text-transform: uppercase;
}

#signup:hover {
  background-color: #7d7d7d;
}



/*****************
PIN STYLES
*****************/

#pin-container {
  padding-top: 50px;
}

.pin img {
  width: 100%
}

.pin {
  vertical-align: top;
  background-color: white;
  padding-bottom: 30px;
  box-shadow: 0px 3px 7px #c3c3c3;
  margin: 0 10px 30px 0;
  display: inline-block;
  /*height: 350px;*/
  width: 250px;
}

.pin-title {
  margin: 0 0 0 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 700;
}
